/* ============================================================================
 * # Base
 * ============================================================================ */

/* https://sweezy-cursors.com/cursor/retro-signboard-lights/ */
*,
body {
  cursor: url('https://cdn.custom-cursor.com/db/6716/32/rapper-j-cole-and-crown-logo-cursor.png'), auto;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Neontubes";
  color: white;
  body: black;
}

@theme {
  /* ============================================================================ 
   * Primitives 
   * ============================================================================ */
  --font-orbitron: "Orbitron", sans-serif;
  --font-monoton: "Monoton", sans-serif;
  --font-neontubes: "Neontubes", sans-serif;
  --font-sacramento: "Sacramento", sans-serif;
  --font-quickdand: "Quicksand";
  --font-comforta: "Comfortaa";
}

@theme {
  /* ============================================================================ 
   * Semantics 
   * ============================================================================ */
  --font-primary: var(--font-orbitron);
  --font-secondary: var(--font-monoton);
  /* --font- */
}

.theme-bg-curtain {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 0;

  background: radial-gradient(circle, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.85) 60%);
}

.theme-bg-curtain::before {
  content: '';
  position: absolute;
  inset: 0;
  background: black;
  animation: fadeOut 2s ease forwards;
}


/* THEMES */
.theme-bg-menu-curtain {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 0;

  background: radial-gradient(circle, rgba(0, 0, 0, 0) -40%, rgba(0, 0, 0, .85) 50%);
}

.theme-bg-menu-curtain::before {
  content: '';
  position: absolute;
  inset: 0;
  background: black;
  animation: fadeOut 3.2s ease forwards;
}


/* BACKGROUND THEME 1 */
.bg-theme-1 {
  background-color: #222222;
  background: repeating-linear-gradient(45deg,
      #2b2b2b 0%,
      #2b2b2b 10%,
      #222222 0%,
      #222222 50%) 0 / 15px 15px;
}

.bg-theme-2 {
  background: #112 url(//images.weserv.nl/?url=i.imgur.com/6QJjYMe.jpg) center no-repeat;
  background-size: cover;
  margin: 0
}

.bg-theme-3 {
  background: #222;
  background-image: repeating-linear-gradient(to bottom,
      transparent 7px,
      rgba(0, 0, 0, 0.8) 9px,
      rgba(0, 0, 0, 0.8) 13px,
      transparent 13px);
}


.theme-4 {
  background: #222;
  /* background-image: repeating-linear-gradient(to bottom,
      transparent 7px,
      rgba(0, 0, 0, 0.8) 9px,
      rgba(0, 0, 0, 0.8) 13px,
      transparent 13px); */
  background-image: url("https://imgs.search.brave.com/1Lj0IJ_5o7xH0ljM_bgPaEtFRZloPtCor22Yp-VuT4I/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMudW5zcGxhc2gu/Y29tL3Bob3RvLTE2/NDUxNDM0NTIwOTMt/YzdlMzE4MTE2YmVh/P2ZtPWpwZyZxPTYw/Jnc9MzAwMCZpeGxp/Yj1yYi00LjEuMCZp/eGlkPU0zd3hNakEz/ZkRCOE1IeHpaV0Z5/WTJoOE9IeDhZbkpw/WTJzbE1qQmlZV05y/WjNKdmRXNWtmR1Z1/ZkRCOGZEQjhmSHd3")

}


/* Can be also used for Animations to go from Menu to GAME */

.circular-fade {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 0;

  background: radial-gradient(circle, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.75) 60%);
}

.circular-fade::before {
  content: '';
  position: absolute;
  inset: 0;
  background: black;
  animation: fadeOut 0.2s ease forwards;
}



@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* NEW */
/* CURTAIN */

.theme-scene-menu {
  background: #222;
}


/* NEON LINE */

.neon-line {
  stroke: #444;
  /* off gray */
  stroke-width: 6;
  stroke-linecap: round;
  opacity: 0.15;
}

.neon-line.on {
  stroke: #aaa;
  opacity: 1;
  animation: neon-flicker 0.8s ease forwards;
}

@keyframes neon-flicker {
  0% {
    opacity: 0.2;
    filter: drop-shadow(0 0 0px #0ff);
  }

  20% {
    opacity: 1;
    filter: drop-shadow(0 0 4px #0ff);
  }

  35% {
    opacity: 0.3;
  }

  50% {
    opacity: 1;
    filter: drop-shadow(0 0 6px #0ff);
  }

  65% {
    opacity: 0.6;
  }

  80% {
    opacity: 1;
    filter: drop-shadow(0 0 10px #0ff);
  }

  100% {
    opacity: 1;
    stroke: #ccc;
    filter: drop-shadow(0 0 12px #0ff);
  }
}