.curtain {
  position: relative;
}

.curtain::before {
  content: '';
  position: absolute;
  inset: 0;
  background: black;
  pointer-events: none;
}

.curtain-secondary {
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.85) 60%);
}

.curtain-secondary::before {
  animation: fadeOut 2s ease forwards;
}

.curtain-primary {
  background: radial-gradient(circle, rgba(0, 0, 0, 0) -40%, rgba(0, 0, 0, 0.85) 50%);
}

.curtain-primary::before {
  animation: fadeOut 3.2s ease forwards;
}
