.bg-theme-1 {
  background-color: #222222;
  background: repeating-linear-gradient(45deg,
      #2b2b2b 0%,
      #2b2b2b 10%,
      #222222 0%,
      #222222 50%) 0 / 15px 15px;
}

.bg-theme-2 {
  background: #112 url(//images.weserv.nl/?url=i.imgur.com/6QJjYMe.jpg) center no-repeat;
  background-size: cover;
  margin: 0
}

.bg-theme-3 {
  background: #222;
  background-image: repeating-linear-gradient(to bottom,
      transparent 7px,
      rgba(0, 0, 0, 0.8) 9px,
      rgba(0, 0, 0, 0.8) 13px,
      transparent 13px);
}

.bg-theme-4 {
  background: #222;
  /* background-image: repeating-linear-gradient(to bottom,
      transparent 7px,
      rgba(0, 0, 0, 0.8) 9px,
      rgba(0, 0, 0, 0.8) 13px,
      transparent 13px); */
  background-image: url("https://imgs.search.brave.com/1Lj0IJ_5o7xH0ljM_bgPaEtFRZloPtCor22Yp-VuT4I/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMudW5zcGxhc2gu/Y29tL3Bob3RvLTE2/NDUxNDM0NTIwOTMt/YzdlMzE4MTE2YmVh/P2ZtPWpwZyZxPTYw/Jnc9MzAwMCZpeGxp/Yj1yYi00LjEuMCZp/eGlkPU0zd3hNakEz/ZkRCOE1IeHpaV0Z5/WTJoOE9IeDhZbkpw/WTJzbE1qQmlZV05y/WjNKdmRXNWtmR1Z1/ZkRCOGZEQjhmSHd3")
}